{% extends 'core/base2.html' %}
{% block content %}   

           <div class="text-dark mx-4">
                <p class="border-bottom p-1 fw-bold">
                    <b>Company Name-</b> F@bricArise Tailoring
                </p>
                <p class="border-bottom p-1 fw-bold">
                    <b>Total Employee-</b> 143
                </p>
                <p class="border-bottom p-1 fw-bold">
                    <b>Total Customer-</b> 12.1k
                </p>
                <p class="border-bottom p-1 fw-bold">
                    <b>Total Sales-</b> 4023
                </p>
                <p class="border-bottom p-1 fw-bold">
                    <b>Requested-</b> 104
                </p>
                <p class="border-bottom p-1 fw-bold">
                    <b>Order Pending-</b> 40
                </p>
                <p class="border-bottom p-1 fw-bold">
                    <b>Today's Employee-</b> 100
                </p>
                <p class="border-bottom p-1 fw-bold">
                    <b>Today's Enquiry-</b> 50
                </p>
                <p class="border-bottom p-1 fw-bold">
                    <b>Hold-</b> 19
                </p>
                <p class="border-bottom p-1 fw-bold">
                    <b>Toll Free Number-</b> 1800125135, 1800125134, 1800125132
                </p>
            </div>
        </div>
{% endblock %}
        
</body>

</html>
