{% extends 'core/base.html' %}

{% block title %} {{ client.name }}{% endblock %}

{% block content %}
<div class="py-6 py-6">S
    <h1 class="text-xl">{{client.name}}</h1>

    {% if client.description %}
        <p class="font-semibold">Description</p>
        <p class="mb-2">{{ client.description }}</p>

    {% endif %}
 

    <p class="font-semibold">Created at</p>
    <p class="mb-2">{{ client.created_at }}</p>

    <p class="font-semibold">Modified at</p>
    <p class="mb-2">{{ client.modified_at }}</p>

    <div class="py-4"><a href="{% url 'clients_list'  %}" class="py-4 px-8 bg-red-300 text-white"> Delete </a><br><br>

    <div class="py-4"><a href="{% url 'clients_list'  %}" class="py-4 px-8 bg-green-300 text-white"> EDIT </a>

    </div>
    </div>
{% endblock %}